<!doctype html>
<html lang="en" ng-app="EsportEvent" ng-controller="EsportController">


<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="script.js"></script>
<link rel="stylesheet" href="style.css">
</head>

<body>

<header class="top_panel">
    <div class="top_panel">
	Top Panel to be implemented alongside Navigation.
    </div>
</header>



<div ng-hide="hidelogin" class=login>
	<table class=logintable>
	  <tr> <th colspan="2">Login</th><tr>
	  <tr>
	  	<th>Email:</th> 		
	  	<th><input type="text" ng-model="email"></th>
	  </tr>
	  <tr>
	  	<th>Password:</th>
	  	<th><input type="text" ng-model="password"></th>
	  </tr>
	  <tr>
	  	<th></th>
	  	<th><button ng-click="login()"> Login </button></th>
	</table>
	
	<table class=logintable>
	  <tr> <th colspan="2">Registration</th><tr>
	  <tr><th>Email:</th> 		<th><input type="text" ng-model="email"></th></tr>
	  <tr><th>Password:</th> 	<th><input type="text" ng-model="password"></th></tr>
	  <tr><th>Name:</th> 		<th><input type="text" ng-model="name"></th></tr>
	  <tr><th>Surname:</th> 	<th><input type="text" ng-model="surname"></th></tr>
	  <tr><th></th>
	  <th><button ng-click="register()"> Register </button></th>
	  </tr>
	</table>
</div>


<div ng-hide="hideAcc">
<h2>Account Information:</h2>
<table vocab="http://Schema.org/" typeof="Person" >

	<tr><th>AccountId:</th> 		<th property="identifier">{{id}}					</th></tr>
	<tr><th>Email:</th>				<th property="email">{{email}}				</th></tr>
	<tr><th>Password:</th>			<th property="password" vocab="http://localhost:8080/rdf4j-server/repositories/ESE_OWL" typeof="User">{{password}}									</th></tr>
	<tr><th>Name:</th>				<th property="givenName">{{name}}			</th></tr>
	<tr><th>Surname:</th>			<th property="familyName">{{surname}}		</th></tr>
	<tr><th>Description:</th>		<th property="description">{{description}}	</th></tr>
	<tr><th>Participant Info:</th>	<th property="participantInfo" vocab="http://localhost:8080/rdf4j-server/repositories/ESE_OWL" typeof="User">{{participantInfo}}	</th></tr>
</table>
Desc. and PartInf. will be fillable in edit profile functionality. <br>
Password won't be displayed after system security, is currently displayed for debug purposes.
</div>

</body>
</html>