<!doctype html>
<html lang="en" ng-app="EsportEvent" ng-controller="EsportController">


<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="script.js"></script>
</head>

<body>

<div ng-hide="hidelogin">
	<div class=login>
	  <p>Email: 	<input type="text" ng-model="email"></p>
	  <p>Password: 	<input type="text" ng-model="password"></p>
	  
	  <button ng-click="login()"> Login </button>
	</div>
	
	<div class=register>
	  <p>Email: 	<input type="text" ng-model="email"></p>
	  <p>Password: 	<input type="text" ng-model="password"></p>
	  <p>name: 		<input type="text" ng-model="name"></p>
	  <p>surname: 	<input type="text" ng-model="surname"></p>
	  
	  <button ng-click="toAccount"> Register </button>
	</div>
</div>


<div ng-hide="hideAcc">
  De:<p ng-bind="description"></p>
  Em:<p ng-bind="email"></p>
  Id:<p ng-bind="id"></p>
  Na:<p ng-bind="name"></p>
  PaIn:<p ng-bind="participantInfo"></p>
  Pass:<p ng-bind="password"></p>
  Surname<p ng-bind="surname"></p>
</div>

</body>
</html>